<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.author.fwwd.dao.mapper.CommodityMapper" >
  <resultMap id="BaseResultMap" type="cn.author.fwwd.dao.model.Commodity" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="seller" property="seller" jdbcType="VARCHAR" />
    <result column="seller_id" property="sellerId" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, seller,seller_id, status, price, unit, update_time
  </sql>
  <insert id="insertInBatch" parameterType="java.util.List" >
    insert into commodity0 (id, title, seller,seller_id,
      status, price, unit,
      update_time)
    values
      <foreach collection="list" item="item" separator=",">
        (#{item.id,jdbcType=BIGINT}, #{item.title,jdbcType=VARCHAR}, #{item.seller,jdbcType=VARCHAR}, #{item.sellerId,jdbcType=BIGINT},
        #{item.status,jdbcType=INTEGER}, #{item.price,jdbcType=DECIMAL}, #{item.unit,jdbcType=VARCHAR},
        #{item.updateTime,jdbcType=TIMESTAMP})

      </foreach>
  </insert>
  <select id="list" resultMap="BaseResultMap" parameterType="cn.author.fwwd.dao.model.Commodity"  >
    select
    <include refid="Base_Column_List" />
    from commodity0
    where seller_id = #{sellerId,jdbcType=BIGINT}
    <if test="status != null" >
    and status = #{status,jdbcType=INTEGER}
    </if>
    ORDER BY id DESC
    LIMIT #{page,jdbcType=INTEGER},#{rows,jdbcType=INTEGER}
  </select>
  <select id="count" resultType="int">
    select
    count(*)
    from commodity0
    where seller_id = #{sellerId,jdbcType=BIGINT}
    <if test="status != null" >
    and status = #{status,jdbcType=INTEGER}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from commodity0
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from commodity0
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.author.fwwd.dao.model.Commodity" >
    insert into commodity0 (id, title, seller, sellerId,
      status, price, unit, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{seller,jdbcType=VARCHAR}, #{sellerId,jdbcType=BIGINT},
      #{status,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL}, #{unit,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.author.fwwd.dao.model.Commodity" >
    insert into commodity0
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="seller != null" >
        seller,
      </if>
      <if test="sellerId != null" >
        seller_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="seller != null" >
        #{seller,jdbcType=VARCHAR},
      </if>
      <if test="sellerId != null" >
        #{sellerId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.author.fwwd.dao.model.Commodity" >
    update commodity0
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="seller != null" >
        seller = #{seller,jdbcType=VARCHAR},
      </if>
      <if test="sellerId != null" >
        sellerId = #{sellerId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.author.fwwd.dao.model.Commodity" >
    update commodity0
    set title = #{title,jdbcType=VARCHAR},
      seller = #{seller,jdbcType=VARCHAR},
      seller_id = #{sellerId,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      unit = #{unit,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>