<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.author.fwwd.dao.mapper.FileMapper" >
  <resultMap id="BaseResultMap" type="cn.author.fwwd.dao.model.File" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="URL" property="url" jdbcType="VARCHAR" />
    <result column="HOST" property="host" jdbcType="VARCHAR" />
    <result column="FID" property="fid" jdbcType="VARCHAR" />
    <result column="FID_HASH" property="fidHash" jdbcType="INTEGER" />
    <result column="ORDER" property="order" jdbcType="TINYINT" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="TINYINT" />
    <result column="TYPE" property="type" jdbcType="TINYINT" />
    <result column="UPLOAD_TIME" property="uploadTime" jdbcType="TIMESTAMP" />
    <result column="UPLOAD_UID" property="uploadUid" jdbcType="VARCHAR" />
    <result column="CATEGORY" property="category" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, URL, HOST, FID, FID_HASH, ORDER, NAME, STATUS, TYPE, UPLOAD_TIME, UPLOAD_UID, 
    CATEGORY
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from file0
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from file0
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.author.fwwd.dao.model.File" >
    insert into file0 (ID, URL, HOST, 
      FID, FID_HASH, ORDER, 
      NAME, STATUS, TYPE, 
      UPLOAD_TIME, UPLOAD_UID, CATEGORY
      )
    values (#{id,jdbcType=BIGINT}, #{url,jdbcType=VARCHAR}, #{host,jdbcType=VARCHAR}, 
      #{fid,jdbcType=VARCHAR}, #{fidHash,jdbcType=INTEGER}, #{order,jdbcType=TINYINT}, 
      #{name,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{type,jdbcType=TINYINT}, 
      #{uploadTime,jdbcType=TIMESTAMP}, #{uploadUid,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.author.fwwd.dao.model.File" >
    insert into file0
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="url != null" >
        URL,
      </if>
      <if test="host != null" >
        HOST,
      </if>
      <if test="fid != null" >
        FID,
      </if>
      <if test="fidHash != null" >
        FID_HASH,
      </if>
      <if test="order != null" >
        ORDER,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="uploadTime != null" >
        UPLOAD_TIME,
      </if>
      <if test="uploadUid != null" >
        UPLOAD_UID,
      </if>
      <if test="category != null" >
        CATEGORY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="host != null" >
        #{host,jdbcType=VARCHAR},
      </if>
      <if test="fid != null" >
        #{fid,jdbcType=VARCHAR},
      </if>
      <if test="fidHash != null" >
        #{fidHash,jdbcType=INTEGER},
      </if>
      <if test="order != null" >
        #{order,jdbcType=TINYINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="uploadTime != null" >
        #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadUid != null" >
        #{uploadUid,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        #{category,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.author.fwwd.dao.model.File" >
    update file0
    <set >
      <if test="url != null" >
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="host != null" >
        HOST = #{host,jdbcType=VARCHAR},
      </if>
      <if test="fid != null" >
        FID = #{fid,jdbcType=VARCHAR},
      </if>
      <if test="fidHash != null" >
        FID_HASH = #{fidHash,jdbcType=INTEGER},
      </if>
      <if test="order != null" >
        ORDER = #{order,jdbcType=TINYINT},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=TINYINT},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=TINYINT},
      </if>
      <if test="uploadTime != null" >
        UPLOAD_TIME = #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadUid != null" >
        UPLOAD_UID = #{uploadUid,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        CATEGORY = #{category,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.author.fwwd.dao.model.File" >
    update file0
    set URL = #{url,jdbcType=VARCHAR},
      HOST = #{host,jdbcType=VARCHAR},
      FID = #{fid,jdbcType=VARCHAR},
      FID_HASH = #{fidHash,jdbcType=INTEGER},
      ORDER = #{order,jdbcType=TINYINT},
      NAME = #{name,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=TINYINT},
      TYPE = #{type,jdbcType=TINYINT},
      UPLOAD_TIME = #{uploadTime,jdbcType=TIMESTAMP},
      UPLOAD_UID = #{uploadUid,jdbcType=VARCHAR},
      CATEGORY = #{category,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>