<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.author.fwwd.dao.mapper.OrderDetailMapper" >
  <resultMap id="BaseResultMap" type="cn.author.fwwd.dao.model.OrderDetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="commodity_id" property="commodityId" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="buyer_pay" property="buyerPay" jdbcType="DECIMAL" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="commodity_desc" property="commodityDesc" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="head_img" property="headImg" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_id, commodity_id, num, buyer_pay, remark, commodity_desc, title, head_img
  </sql>


  <insert id="insertInBatch"  parameterType="java.util.List" >
  insert into order_detail0 (id, order_id, commodity_id,
  num, remark , buyer_pay,
  commodity_desc, title, head_img)
  values
  <foreach collection="list" item="item" separator=",">
    (#{item.id,jdbcType=BIGINT}, #{item.orderId,jdbcType=BIGINT}, #{item.commodityId,jdbcType=VARCHAR},
    #{item.num,jdbcType=INTEGER},#{item.remark,jdbcType=VARCHAR}, #{item.buyerPay,jdbcType=DECIMAL},
    #{item.commodityDesc,jdbcType=VARCHAR},#{item.title,jdbcType=VARCHAR},#{item.headImg,jdbcType=VARCHAR})
  </foreach>
  </insert>

  <select id="selectByOrderId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from order_detail0
    where order_id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from order_detail0
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from order_detail0
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.author.fwwd.dao.model.OrderDetail" >
    insert into order_detail0 (id, order_id, commodity_id, 
      num, buyer_pay, remark, 
      commodity_desc, title, head_img
      )
    values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{commodityId,jdbcType=VARCHAR}, 
      #{num,jdbcType=INTEGER}, #{buyerPay,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, 
      #{commodityDesc,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{headImg,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.author.fwwd.dao.model.OrderDetail" >
    insert into order_detail0
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="commodityId != null" >
        commodity_id,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="buyerPay != null" >
        buyer_pay,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="commodityDesc != null" >
        commodity_desc,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="headImg != null" >
        head_img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="commodityId != null" >
        #{commodityId,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="buyerPay != null" >
        #{buyerPay,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="commodityDesc != null" >
        #{commodityDesc,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="headImg != null" >
        #{headImg,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.author.fwwd.dao.model.OrderDetail" >
    update order_detail0
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="commodityId != null" >
        commodity_id = #{commodityId,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="buyerPay != null" >
        buyer_pay = #{buyerPay,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="commodityDesc != null" >
        commodity_desc = #{commodityDesc,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="headImg != null" >
        head_img = #{headImg,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.author.fwwd.dao.model.OrderDetail" >
    update order_detail0
    set order_id = #{orderId,jdbcType=BIGINT},
      commodity_id = #{commodityId,jdbcType=VARCHAR},
      num = #{num,jdbcType=INTEGER},
      buyer_pay = #{buyerPay,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR},
      commodity_desc = #{commodityDesc,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      head_img = #{headImg,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>