<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.author.fwwd.dao.mapper.RefreshTokenMapper" >
  <resultMap id="BaseResultMap" type="cn.author.fwwd.dao.model.RefreshToken" >
    <id column="refresh_token" property="refreshToken" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    refresh_token, uid, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from refresh_token0
    where refresh_token = #{refreshToken,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from refresh_token0
    where refresh_token = #{refreshToken,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByUid" parameterType="java.lang.String" >
    delete from refresh_token0
    where uid = #{uid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.author.fwwd.dao.model.RefreshToken" >
    insert into refresh_token0 (refresh_token, uid, update_time
      )
    values (#{refreshToken,jdbcType=VARCHAR}, #{uid,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.author.fwwd.dao.model.RefreshToken" >
    insert into refresh_token0
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="refreshToken != null" >
        refresh_token,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="refreshToken != null" >
        #{refreshToken,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByUidSelective" parameterType="cn.author.fwwd.dao.model.RefreshToken" >
    update refresh_token0
    <set >
      <if test="refreshToken != null" >
        refresh_token = #{refreshToken,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where uid = #{uid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.author.fwwd.dao.model.RefreshToken" >
    update refresh_token0
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where refresh_token = #{refreshToken,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.author.fwwd.dao.model.RefreshToken" >
    update refresh_token0
    set uid = #{uid,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where refresh_token = #{refreshToken,jdbcType=VARCHAR}
  </update>
</mapper>