<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.author.fwwd.dao.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="cn.author.fwwd.dao.model.User" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="UID" property="uid" jdbcType="VARCHAR" />
    <result column="PWD" property="pwd" jdbcType="VARCHAR" />
    <result column="SALT" property="salt" jdbcType="VARCHAR" />
    <result column="ROLE" property="role" jdbcType="VARCHAR" />
    <result column="NICK_NAME" property="nickName" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="TINYINT" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_PERSON" property="updatePerson" jdbcType="VARCHAR" />
    <result column="HASH" property="hash" jdbcType="INTEGER" />
    <result column="HEAD_IMG" property="headImg" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, UID, PWD, SALT, ROLE, NICK_NAME, PHONE, STATUS, EMAIL, UPDATE_TIME, UPDATE_PERSON, 
    HASH, HEAD_IMG
  </sql>
  <select id="countUID" resultType="int" parameterType="java.lang.String" >
    SELECT count(*)
    from user0
    where UID = #{uid,jdbcType=VARCHAR}
  </select>
  <select id="selectByUID" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from user0
    where UID = #{uid,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user0
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user0
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.author.fwwd.dao.model.User" >
    insert into user0 (ID, UID, PWD, 
      SALT, ROLE, NICK_NAME, 
      PHONE, STATUS, EMAIL, 
      UPDATE_TIME, UPDATE_PERSON, HASH, 
      HEAD_IMG)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, 
      #{salt,jdbcType=VARCHAR}, #{role,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{email,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updatePerson,jdbcType=VARCHAR}, #{hash,jdbcType=INTEGER}, 
      #{headImg,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.author.fwwd.dao.model.User" >
    insert into user0
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="uid != null" >
        UID,
      </if>
      <if test="pwd != null" >
        PWD,
      </if>
      <if test="salt != null" >
        SALT,
      </if>
      <if test="role != null" >
        ROLE,
      </if>
      <if test="nickName != null" >
        NICK_NAME,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="updatePerson != null" >
        UPDATE_PERSON,
      </if>
      <if test="hash != null" >
        HASH,
      </if>
      <if test="headImg != null" >
        HEAD_IMG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null" >
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        #{role,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatePerson != null" >
        #{updatePerson,jdbcType=VARCHAR},
      </if>
      <if test="hash != null" >
        #{hash,jdbcType=INTEGER},
      </if>
      <if test="headImg != null" >
        #{headImg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.author.fwwd.dao.model.User" >
    update user0
    <set >
      <if test="uid != null" >
        UID = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null" >
        PWD = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        SALT = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        ROLE = #{role,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        NICK_NAME = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=TINYINT},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatePerson != null" >
        UPDATE_PERSON = #{updatePerson,jdbcType=VARCHAR},
      </if>
      <if test="hash != null" >
        HASH = #{hash,jdbcType=INTEGER},
      </if>
      <if test="headImg != null" >
        HEAD_IMG = #{headImg,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.author.fwwd.dao.model.User" >
    update user0
    set UID = #{uid,jdbcType=VARCHAR},
      PWD = #{pwd,jdbcType=VARCHAR},
      SALT = #{salt,jdbcType=VARCHAR},
      ROLE = #{role,jdbcType=VARCHAR},
      NICK_NAME = #{nickName,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=TINYINT},
      EMAIL = #{email,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_PERSON = #{updatePerson,jdbcType=VARCHAR},
      HASH = #{hash,jdbcType=INTEGER},
      HEAD_IMG = #{headImg,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>